<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dappervision.glass.wearscript" >

    <uses-permission
        android:name="com.google.android.glass.permission.DEVELOPMENT" />

    <application
        android:allowBackup="true"
        android:theme="@style/AppTheme"
        android:label="@string/app_name"
        android:icon="@drawable/launcher">

        <activity
            android:name=".controller.GlassMainActivity"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>
            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/voice_trigger" />
        </activity>

        <activity
            android:name=".controller.GlassScriptActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen"/>

        <activity android:name=".controller.MediaActivity"/>

        <activity
            android:name="com.dappervision.wearscript.ui.QRActivity"
            android:configChanges="keyboardHidden"
            android:label="WearScript QR"/>
        <activity
            android:name="com.dappervision.wearscript.ui.SetupActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="keyboardHidden"
            android:exported="true"
            android:label="@string/setup"/>
        <activity
            android:name="com.dappervision.wearscript.ui.StopActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="keyboardHidden"
            android:icon="@drawable/ic_stop"
            android:label="@string/stop"
            android:launchMode="singleInstance"/>

        <activity
            android:name="com.dappervision.wearscript.ui.MenuActivity"
            android:enabled="true"
            android:label="@string/app_name"
            android:theme="@style/MenuTheme"/>
        <service android:name=".controller.GlassBackgroundService" />
    </application>

</manifest>
